.conteinerCarrinho{
    padding: 15px;
}
.buttonFinalizarCompra {
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    background-color: #1E730D;
    color: white;
    transition: background-color 0.1s, color 0.1s; /* Adicione uma transição suave para suavizar a mudança de cor. */
  }
  
.buttonFinalizarCompra:hover {
    background-color: rgba(30, 115, 13, 0.8); /* Escurece 10% no hover */
    color: rgba(255, 255, 255, 0.8); /* Escurece o texto 10% no hover */
}

.buttonFinalizarCompra:active {
    background-color: rgba(30, 115, 13, 0.65); /* Escurece 15% quando clicado */
}