.cardProduto {
    display: flex;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
  }
  @media (max-width: 700px) {
    .cardProduto {
        flex-direction: column;
    }
}
  
  .imagemContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .imgProd {
    max-width: 100%;
    height: auto;
  }
  .preçoProd {
    font-size: 80px; 
  }
  .botoesLikeDislike {
    margin-top: 10px;
    display: flex; 
    align-items: center; 
  }
  
  .informacoesContainer {
    flex: 1;
    margin-left: 20px;
  }
  
  .informacoesContainer {
    flex: 1;
    margin-left: 20px;
  }
  
  .nomeProd {
    font-size: 24px;
  }
  
  .preçoProd {
    font-size: 20px; 
    color: #007bff;
  }
  
  .descricao {
    font-size: 14px;
    color: #666;
  }
  
  

.botoesAcao {
    display: flex;
    justify-content: space-between;
  }
  
  .btnComprar,
  .btnAdicionarCarrinho {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 90px;
    margin-left: 90px;  
  }
  .btnComprar:hover,
  .btnAdicionarCarrinho:hover,
  .btnCalcularFrete:hover
   {
    background-color: #414349; 
  }
  
  .btnAdicionarCarrinho {
    background-color: #4caf50; 
  }

.cardProduto {
    display: flex;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
  }
  
  .imagemContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .imgProduto {
    max-width: 100%;
    height: auto;
  }
  
  .botoesLikeDislike {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

.espaco-superior {
    margin-top: 10px; 
  }

.botoesAcaoCEP {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }
      
 
.btnComprar {
    margin-right: 10px; 
  }
 
.containerQuantidadeAndMensagem{
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
  .conteinerButtonquantidade{
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonAlterarQuantidade{
    padding: 1.5px 3px;
    border: 0;
    background-color: white;
}
.textQuantidadeAlterada{
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
}